*{
    outline: none;
    font-weight: 400;
    font-family: 'Nanum Myeongjo', serif;
}
 
body{
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    touch-action:none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding-right: 20px;
    transition: color 0.2s;
}

a:hover {
    color: dimgray;
}


.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    background: url('../../src/BG.jpg');
    background-size: cover;
    background-repeat: no-repeat !important;
}

.menu-links {
    float: right;  
    padding-right: 20px;
    margin-top: 20px;
}

.toggle-menu {
    float: right; 
}

.toggle-menu li {
    display: block;
    float: left;
    list-style-type: none;
    text-align: left;
}

.toggle {
    padding-top: 5px;
    cursor: pointer;
}

li.toggle:hover span.toggle-menu-bar {
    background-color: dimgray;
}

.toggle-menu-bar {
    display: block;
    width: 25px;
    height: 4px;
    background-color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto 3px;
    transition: background-color 0.2s;
}


pre{
    margin: 0;
    padding: 0;
    word-break:keep-all;
    white-space: pre-wrap; 
}

@media screen and (min-width: 360px){
    
    .h1_title{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        padding-left: 30px;
        padding-top: 20px;
        font-size: 150%;
        font-weight: 900;
        color: #000000;
    }
    
    .txt__title{
        position: relative;
        display: block;
        width: 300px;
        height: 20px;
        margin: auto;
        margin-top: 50px;
        font-size: 30px;
        font-weight: bold;
    }
    
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: transparent;
     }
     
     ::-webkit-scrollbar-thumb {
        width: 5px;
        background: #fff;
     }
    
    .header{
        position: relative;
        width: 100%;
        height: 80px;
        text-shadow: 2px 2px 3px #18181857;
    }
    
    .background{
        position: relative;
        background-size: cover;
        width: 100%;
        height: 800px;
    }
    
    .itm__wrapper{
        display: inline;
        position: relative;
        width: 100%;
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
    }
    
    .itm {
        display: block;
        position: relative;
        margin: auto;
        width: 350px;
        height: 80%;
        background-size: cover;
        background: url('../../src/paper.png');
        overflow-y: auto !important;
        overflow-x: hidden !important;
        z-index: 100;
        word-break:keep-all;
        box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.178);
    }

    .itm__shadow{
        position: absolute;
        width: 350px;
        height: 90%;
        background-color: #000000;
        top: 8px;
        left: 50.9%;
        transform: translateX(-50%);
        z-index: 0;
        opacity: 40%;
        filter: blur(10px);
    }
    
    .slick-dots {
        top: 750px;
        position: relative;
        z-index: 10;
    }
    
    .txt__Box{
        position: relative;
        display: block;
        width: 85%;
        line-height: 30px;
        margin: auto;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 15px;
        word-break:keep-all;
        padding-bottom: 80%;
    }

}

@media screen and (min-width: 1280px){
    
    .h1_title{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        padding-left: 30px;
        padding-top: 20px;
        font-size: 150%;
        font-weight: 900;
        color: #000000;
    }
    
    .txt__title{
        position: relative;
        display: block;
        width: 800px;
        height: 20px;
        margin: auto;
        margin-left: 10%;
        margin-top: 50px;
        font-size: 30px;
        font-weight: bold;
    }
    
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: transparent;
     }
     
     ::-webkit-scrollbar-thumb {
        width: 5px;
        background: #fff;
     }
    
    .header{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 8%;
        text-shadow: 2px 2px 3px #18181857;
    }
    
    .background{
        position: relative;
        background-size: cover;
        width: 100%;
        height: 800px;
    }
    
    .footer{
        position: relative;
        width: 100%;
        height: 50px;
    }
    
    .itm__wrapper{
        display: inline;
        position: relative;
        width: 100%;
        height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 20px;
    }
    
    .itm {
        display: block;
        position: relative;
        margin: auto;
        width: 1100px;
        height: 93%;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        background: url('../../src/paper.png');
        background-repeat: no-repeat;
        background-size: cover;
        word-break:break-all;
        box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.178);
    }
    
    .itm__shadow{
        position: absolute;
        width: 1100px;
        height: 93%;
        background-color: #000000;
        top: 8px;
        left: 50.9%;
        transform: translateX(-50%);
        z-index: 0;
        opacity: 40%;
        filter: blur(10px);
    }

    .slick-dots {
        top: 750px;
        position: relative;
        z-index: 10;
    }  

    .txt__Box{
        position: relative;
        display: block;
        width: 85%;
        line-height: 30px;
        margin: auto;
        margin-top: 40px;
        margin-left: 10%;
        font-size: 20px;
        padding-bottom: 30%;
    }

}

